In [1]:
import pandas as pd
from scipy import stats
import numpy as np

In [3]:
df = pd.read_excel(r"C:/Users/CG-DTE/Downloads/stats.xlsx")

In [4]:
df.head()

   Emp#  YearsOfExp  Salary in Rs.
0     1          10         126015
1     2           1          12598
2     3           8         100639
3     4          10         125351
4     5           2          25031

In [29]:
df = df.drop(columns=['Emp#'])

In [30]:
print(df.mean())

YearsOfExp           6.2
Salary in Rs.    77821.2
dtype: float64

In [31]:
print(df["Salary in Rs."].mode())

0    100639
dtype: int64

In [32]:
print(df[r"YearsOfExp"].mode())

0    10
dtype: int64

In [33]:
print(df.median())

YearsOfExp           7.0
Salary in Rs.    87654.0
dtype: float64

In [34]:
print(df.std())

YearsOfExp           3.175426
Salary in Rs.    39847.615281
dtype: float64

In [35]:
print(df.var())

YearsOfExp       1.008333e+01
Salary in Rs.    1.587832e+09
dtype: float64